body {
  font-family: "Open Sans", serif;
}
.search-container{
    background: linear-gradient(to right,blueviolet, pink);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.results{
    background: linear-gradient(to right,rgb(43, 168, 226), pink);
    height: 170vh;
    border: rgb(43, 168, 226);
}
.reports{
    display: flex; 
}
.date{
    border: 1px solid black;
}